<div class="row g-0">
<div class="col col-lg-7 col-md-7 col-sm-12 g-0 p-0">
  <%= image_tag("index-img.jpg", :alt => "logo", :class => "login-img") %>

</div>
<div class="col col-lg-5 col-md-5 col-sm-12 m-auto card">

<div class="m-auto text-center" style="width: 18rem;">
    <h5 class="card-title font-weight-bold">Login In</h5>
<div class="card-body">
  
    <p class="alert"><%= alert %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your Email.." %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your Password.." %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: 'opacity-100 pe-auto position-relative' %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
  <%= f.submit "Log in", class:'btn btn-primary'%></a>
    
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>